<div class="page-header">
  <h1>
    Fabrics
  </h1>
</div>

<%= search_form_for @q do |f| %>
<p class="lead">Narrow results:</p>

<div class="form-group">
  <%= f.label :diseno_cont, "Diseno" %>
  <%= f.text_field :diseno_cont, :class => "form-control", :placeholder => "Enter the design you like" %>
</div>

<div class="form-group">
  <%= f.label :peso_eq, "Peso" %>
  <%= f.text_field :peso_eq, :class => "form-control", :placeholder => "Enter the desired weight" %>
</div>

<div class="form-group">
  <%= f.label :ancho_eq, "Ancho" %>
  <%= f.text_field :ancho_eq, :class => "form-control", :placeholder => "Enter the desired width" %>
</div>

<div class="form-group">
  <%= f.label :title_eq, "Precio" %>
  <%= f.text_field :title_eq, :class => "form-control", :placeholder => "Enter the desired price" %>
</div>

<%= f.submit :class => "btn btn-primary btn-block" %>

<a href="/fabrics" class="btn btn-warning btn-block">Clear filters</a>
<% end %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Diseno</th>
        <th>Peso</th>
        <th>Ancho</th>
        <th>Precio</th>
        <th></th>

      </tr>

      <% @fabrics.each do |fabric| %>
      <tr>
        <td><%= fabric.diseno %></td>
        <td><%= fabric.peso %></td>
        <td><%= fabric.ancho %></td>
        <td><%= fabric.title %></td>
        <td>
          <a href="/fabrics/<%= fabric.id %>" class="btn btn-primary">Show</a>
          <a href="#" class="btn btn-warning">Add to Order</a>
          <!-- <a href="/fabrics/<%= fabric.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_fabric/<%= fabric.id %>" class="btn btn-danger" rel="nofollow">Delete</a> -->
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
