<div class="page-header">
  <h3>Fabrics In Order #<%= @fabrics_in_order.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Order</dt>
      <dd><%= @fabrics_in_order.order_id %></dd>

      <dt>Fabric</dt>
      <dd><%= @fabrics_in_order.fabric_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/fabrics_in_orders" class="btn btn-primary">
        Back
      </a>
      <a href="/fabrics_in_orders/<%= @fabrics_in_order.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_fabrics_in_order/<%= @fabrics_in_order.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
